# Files related to Azure Functions
.vs
bin
obj
Properties
local.settings.json

# Files related to HTML app
cogsearch_settings.json

# Files related to Azure Static Web Apps
.env
staticwebapp.config.json

# Files related to debug
debug.sh